/**
 * file: style.css
 * purpose: styles, animation etc
 * further development: meyer reset perhaps?
 **/

html {
  scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    background-color: #fffff7;
}


#beLight {
    
    position: absolute;
    padding-top: 75px;
    margin-left: 325px;
    z-index: 11;
    
}


#wrapper::before {
    content: "";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 50;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
}





.container {

    width: 550px;
    margin: 0 auto;
    height: 100vh;

}




#lightbulb {
    width: 550px;

}


#growLogo {
    display: block;
    position: absolute;
    margin-top: -285px;
    margin-left: -100px;
    width: 800px;
}

.scrolldown{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.scrolldown span:nth-child(1){
    transform: translate(-15px, -15px);
    animation-delay: -0.4s;
}

.scrolldown span:nth-child(2){
    transform: translate(0,0);
    animation-delay: -0.2s;
}

@keyframes animate{
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    
    25%{
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    
    50%,100%{
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}

a > #link1{
    display: block;
    position: absolute;
    width: 100px;
 bottom: 50px;
      margin-left: 50%;
    z-index: 9999;
    cursor: pointer;
}


#containerMain{
    background-color: #DAE4F5;
    padding-top: 100px;
    padding-bottom: 200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
     height: 100vh;
}

#growH1{
    padding: 30px;
    font-size: 40px;
    width: 700px;
    margin: auto;
}


#ytplayer{
    padding-top: 50px;
    padding-bottom: 200px;
    width: 800px;
    height: 450px;
 
}


.box{
    height:100vh;
    width: 100%;
}

.single-box .div-left{
    width 49%;
    height: auto;
    float: left;
}

.single-box .div-right{
    width 49%;
    height: auto;
    float: right;
}


#conversation{

    background-color: #fffff7;

    width: 100%;
    text-align: center;
    height: 100vh;

}


#characters{
    display: flex;
    position: relative;
  justify-content: space-between; 
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;      

}


#right img{
padding-top: 70px;
}





@media only screen and (max-width: 1100px) {
    #growH1{ padding: 0px;
    font-size: 30px;
    width: 700px;
    margin: auto;
    }
    
    #ytplayer {
    height: 360px;
    width: 640px;
  }
}

@media only screen and (max-width: 700px) {
      #growH1{ padding: 0px;
    font-size: 25px;
    width: 300px;
    margin: auto;
    }
    
  #ytplayer {
    height: 180px;
    width: 320px;
  }
}


























